.label{
  font-size: 1em;

}
.creation{
  display: flex;
  justify-content: center;
}
.form{
  background-color: #ccc;
  border-radius: 10px;
  width: 46%;
  height: 11em;
  margin-left: 2em;
}
.form input {
  padding: 0.2em;
  width: 44%;
  height: 1.4em;
  border-radius: 10px;
}
.button-form{
  width: 13em;
  height: 3em;
}
strong{
  font-size: 2em;
}
